* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.first_div {
	max-width: 900px;
	height: 200px;
	position: relative;
}

.product {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
}

.prod_name {
    text-align: center;
}

.prod_desc {
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
    display: none;
}

.desc_button {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

img {
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
}
